//.block: center
.navbar.navbar-default.navbar-static-top
	.container
		.row
			.col-md-2
				a.btn.btn-link.btn-lg(href="/",role="button") Home
			.col-md-2
				a.btn.btn-link.btn-lg(href="/article",role="article") Article
			.col-md-2
				a.btn.btn-link.btn-lg(href="/photo",role="photo") Photo
			.col-md-2
				a.btn.btn-link.btn-lg(href="/label",role="label") Label
			.col-md-2
				a.btn.btn-link.btn-lg(href="/message",role="message") Message
			.col-md-2
				a.btn.btn-link.btn-lg(href="/about", role="about") About