//.block: center
.nav.nav-pils.nav-stacked
	li.span
		a.btn.btn-link.bg-info(href="/") 首页
	li.span
		a.btn.btn-link.btn-info(href="/article") 文章
	li.span
		a.btn.btn-link.btn-info(href="/photo") 照片
	li.span
		a.btn.btn-link.btn-info(href="/label") 标签
	li.span
		a.btn.btn-link.btn-info(href="/message") 留言
	li.span
		a.btn.btn-link.btn-info(href="/about") 关于
