//.block: center
.navbar.navbar-default.navbar-static-top
	.container
		.row
			.col-md-2.5
			.col-md-2
				a.btn.btn-link.btn-lg(href="/",role="button") home
			.col-md-2
				a.btn.btn-link.btn-lg(href="/blogs",role="blogs") blogs
			.col-md-2
				a.btn.btn-link.btn-lg(href="/photoes",role="photos") photoes
			.col-md-2
				a.btn.btn-link.btn-lg(href="/notes",role="notes") notes
			.con-md-1.5