extends ../layout

block content
	.container
		each item in blogs
			.row
				.caption
					p.text-center: a.btn.btn-link.btn-lg(href="/article/#{item._id}", role="button") 
						#{item.title}
					
