extends ../layout

block content
	.container
		each item in articles
			.row
				.caption
					p.text-left: a.btn.btn-link.btn-lg(href="/article/#{item._id}", role="button") 
						#{item.title}

		include ../includes/pagination
				